<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <title>ProjektApp</title>
    <h1>Inhalt der Source.txt</h1>
</head>
<body>
<h2> Bitte die Tabellen abwählen, die nicht übernommen werden sollen</h2>
<form>
    <h3 style="text-decoration: underline;"> Tabellen </h3>
    <div class="table">
    {% block body %}
        {% for post in tablename %}
            <input checked type="checkbox">
    {{ post|safe }} <br>
        {% endfor %}
    {% endblock %}
  </div>

<button name="submitButton" type="submit" value="submit">Auswahl übernehmen</button>
</form>
/
<!-- <form>-->
<!--     <div class="panel panel-default">-->
<!--     <div class="panel panel-body">-->
<!--     {% for post in tablename %}-->
<!--         <input type="checkbox" checked> <br>-->
<!--        {% endfor %}-->
<!--            <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />-->
<!--</div>-->
<!--         </div>-->
<!-- </form>-->

</body>
</html>